*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    /* font-family: "Product Sans", sans-serif; */
}

body{
    background: black;
}

.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, -40);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
}

.navlist{
    display: flex;
    padding: 10px;
    width: 55%;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.heading{
    padding: 10px;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
}

.item{
    margin-left: 10px;
}

.name{
    margin-left: 10px;
}

#home:hover{
    color: red;
}

#blogs:hover{
    color: red;
}

#projects:hover{
    color: red;
}

#documents:hover{
    color: red;
}

#about:hover{
    color: red;
}

#contact:hover{
    color: red;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
}

.line{
    width: 33px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 3px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
}

.footerContent{
    display: flex;
    justify-content: center;
}

.footerContentItem{
    margin: 10px;
}

.footerName{
    font-size: 10px;
}

canvas{
    background: black;
    border-bottom-right-radius: 450px;
}

.contentHome{
    display: flex;
    justify-content: center;
}

.contentHeading{
    color: white;
    padding: 50px;
    font-size: 62px;
    width: 105vh;
    /* width: 74vh; */
}

.content{
    display: flex;
    flex-direction: column;
    color: white;
}

.contentBody{
    width: 640px;
    padding: 10px 0px 0px 53px;
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 900px){
    .item{
        display: none;
    }

    .contentHeading{
        color: white;
        padding: 50px;
        font-size: 50px;
        width: 37vh;
    }

    .contentBody{
        width: 281px;
        padding: 10px 0px 0px 60px;
        text-align: justify;
        text-justify: inter-word;
    }

    .footer{
        width: 100%;
    }

}

@media only screen and (max-width: 600px){

    .contentHome{
        display: flex;
        flex-direction: column;
    }

    .contentBody{
        width: 37vh;
        padding: 10px 50px 0px 50px;
        text-align: justify;
        text-justify: inter-word;
    }

    .content{
        justify-content: center;
    }

    canvas{
        border-bottom-left-radius: 450px;
    }

    .item{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 50px;
        justify-content: center;
    }

    .navlist{
        display: none;
        padding: 0;
        width: 100%;
        margin: 10px;
    }

    .navlist li a{
        margin: 10px;
    }

    .heading{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .burger{
        display: block;
        position: absolute;
        cursor: pointer;
        top: 14px;
        left: 14px;
    }

    .visible {
        opacity: 0; /* Improved here: Show when visible class is added */
        height:0px;
        margin: 0;
    }

    .expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 145px; /* Expanded height */
    }

    .expandedlist{
        height: 215px;
    }

    .invisible {
        opacity: 1; /* Improved here: Show when visible class is added */
    }

    .footerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        width: 100%;
    }
    
}