*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    /* font-family: "Product Sans", sans-serif; */
}

*::selection{
	background: rgb(102, 0, 0);
}

body{
    background: black;
}

.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, -40);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
}

.navlist{
    display: flex;
    padding: 10px;
    width: 55%;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.heading{
    padding: 10px;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
}

.item{
    margin-left: 10px;
}

.name{
    margin-left: 10px;
}

#home:hover{
    color: red;
}

#blogs:hover{
    color: red;
}

#projects:hover{
    color: red;
}

#documents:hover{
    color: red;
}

#about:hover{
    color: red;
}

#contact:hover{
    color: red;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
}

.line{
    width: 33px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 3px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
}

.footerContent{
    display: flex;
    justify-content: center;
}

.footerContentItem{
    margin: 10px;
}

.footerName{
    font-size: 10px;
}

canvas{
    background: black;
    border-bottom-right-radius: 450px;
}

.contentHome{
    display: flex;
    justify-content: center;
}

.contentHeading{
    color: white;
    padding: 50px;
    font-size: 62px;
    max-width: 100vh;
    /* width: 74vh; */
}

.content{
    display: flex;
    flex-direction: column;
    color: white;
}

.contentBody{
    max-width: 93vh;
    padding: 10px 53px 10px 53px;
    text-align: justify;
    text-justify: inter-word;
}

/* #canvas {
    width: 60vh; 
    height: 60vh; 
} */

@media only screen and (max-width:1025px){

    .canvasSize{
        width: 112vh; 
        height: 40vh;
    }
    
    .contentHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contentHeading{
        color: white;
        padding: 58px;
        font-size: 66px;
        width: 100vh;
        text-align: center;
    }

    .contentBody{
        width: 95vh;
        padding: 10px 0px 0px 60px;
        text-align: justify;
        text-justify: inter-word;
    }

}

@media only screen and (max-width: 900px){

    .item{
        display: none;
    }

    .contentHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contentHeading{
        color: white;
        padding: 60px;
        font-size: 66px;
        width: 92vh;
        text-align: center;
    }

    .contentBody{
        width: 95vh;
        padding: 10px 0px 0px 60px;
        text-align: justify;
        text-justify: inter-word;
    }
    .footer{
        width: 100%;
    }

}

@media only screen and (max-width: 718px){

    #canvas {
        width: 70vh;
        height: 60vh; 
    } 

    .canvasSize {
        width: 70vh;
        height: 40vh;
    }

}

@media only screen and (max-width: 700px){

    .canvasSize{
        width: 70vh; 
        height: 40vh;
    }

    canvas {
        display: block; /* Ensure canvas does not cause overflow */
    }

    .contentHeading{
        width: 55vh;
        text-align: center;
    }

    .contentHome{
        display: flex;
        flex-direction: column;
    }

    .contentBody{
        width: 68vw;
        padding: 10px 50px 0px 50px;
        text-align: justify;
        text-justify: inter-word;
    }

    .content{
        justify-content: center;
        align-items: center;
    }

    canvas{
        border-bottom-left-radius: 450px;
    }

    .item{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 50px;
        justify-content: center;
        transition-property: all;
        transition-duration: 0.25s;
    }

    .navlist{
        display: none;
        padding: 0;
        width: 100%;
        margin: 10px;
    }

    .navlist li a{
        margin: 10px;
    }

    .heading{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .burger{
        display: block;
        position: absolute;
        cursor: pointer;
        top: 14px;
        left: 14px;
    }

    .visible {
        opacity: 0; /* Improved here: Show when visible class is added */
        height:0px;
        margin: 0;
    }

    .expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 145px; /* Expanded height */
    }

    .expandedlist{
        height: 215px;
        transition-property: all;
        transition-duration: 0.25s;
    }

    .invisible {
        opacity: 1; /* Improved here: Show when visible class is added */
    }

    .footerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        width: 100%;
    }
    
}

@media only screen and (max-width: 480px){

    #canvas {
        width: 43vh;
        height: 40vh;
    } 

    .canvasSize {
        width: 45vh;
        height: 40vh;
    }

    .contentHeading {
        width: 32vh;
        font-size: 42px;
        text-align: center;
    }

}

@media only screen and (max-width: 325px){

    .contentHeading{
        width: 29vh;
        font-size: 46px;
        padding: 10px 10px 10px 10px;
    }

}